$pc-width: 1210px;
$xs-width: 700px;
$xs-width: 450px;
$full-width: 100%;
$nav-height: 80px;
$font-size-4: 18px;
$input-height: 40px;
$input-width: 200px;
$font-logo: 40px;
$font-a1: 35px;
$menu-color: #fdf7ea;
$more-color: #cfaa80;
$footer-color: #f5f1ee;
$small-size: 10px;
.more-color,
.more-color a {
    background-color: #cfaa80 !important;
    color: white !important;
}

input:not([type="checkbox"]):not([type="number"]):not([type="radio"]),
button:not([class="btn-number"]),
button .parimary_button {
    width: 210px;
    line-height: 2;
    height: 50px;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    text-align: right !important;
}

input:focus {
    content: "\2714";
    background-color: rgb(255, 241, 212);
}

// 共通按鈕
* {
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    line-height: 1.5;
}

* :not(i) {
    font-family: "Noto Sans TC", "Roboto", sans-serif !important;
}

a,
button {
    cursor: pointer;
    color: black;
}

i,
ul li h3 {
    color: #5f5e5e;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.flex {
    display: flex;
}

.no-show {
    display: none;
}

.pa-1 {
    padding: 5px;
}

.focus-color {
    color: red;
    font-weight: bold;
}

@media (min-width: 801px) {
    .pc-btn-fixed {
        margin: 30px 0;
    }
    .pc-show {
        display: block;
    }
    .pc-noshow {
        display: none;
    }
}

@mixin justify-start {
    display: flex;
    justify-content: flex-start;
}

@mixin justify-center {
    display: flex;
    justify-content: center;
}

@mixin justify-end {
    display: flex;
    justify-content: flex-end;
}

@mixin justify-between {
    display: flex;
    justify-content: space-between;
}

@mixin justify-evenly {
    display: flex;
    justify-content: space-evenly;
}

@mixin justify-around {
    display: flex;
    justify-content: space-around;
}

@mixin column {
    flex-direction: column;
}

.justify-center {
    display: flex;
    justify-content: center;
}

@mixin align-start {
    display: flex;
    align-items: flex-start;
}

@mixin align-center {
    display: flex;
    align-items: center;
}

.align-center {
    display: flex;
    align-items: center;
}

@mixin align-end {
    display: flex;
    align-items: flex-end;
}

// main banner
.container {
    width: $pc-width;
    .carsoul {
        width: $pc-width;
        overflow: hidden;
    }
    a {
        width: 100%;
        img {
            width: $pc-width;
            object-fit: cover;
        }
    }
    // @keyframes data {
    // 0% {
    //     left: 0;
    // }
    // 25% {
    //     left: (-$pc-width);
    // }
    // 50% {
    //     left: (-$pc-width*2);
    // }
    // 75% {
    //     left: (-$pc-width*3);
    // }
    // 100% {
    //     left: (-$pc-width*4);
    // }
    // }
    // .carsoulOver {
    //     display: flex;
    //     position: relative;
    //     left: 0;
    //     top: 0;
    //     animation: data 40s infinite linear alternate;
    //     animation-delay: 3s;
    // }
}

.pc-show {
    display: block;
}

header {
    & {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .nav {
        background-color: white;
        @include justify-between();
    }
    @include justify-center;
    @include align-center;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    ul {
        @include justify-center;
        @include align-center;
    }
    .container {
        height: $nav-height;
        @include align-center;
        ul li {
            padding: 10px;
            @include align-center;
            flex-direction: column;
        }
    }
    input {
        height: $input-height;
        width: $input-width;
    }
    nav {
        @include justify-between();
    }
    .pc-show {
        display: block;
    }
}

// 手機導覽
header {
    // 手機導覽
    .nav-xs-menus {
        height: calc(100vh - 80px - 60px);
        background: white;
        z-index: 80;
        // & {
        //     // margin: 60px 0 80px 0;
        // }
        &[class*="nav-xs-menus-buy"] {
            margin: 60px 0 50px 0;
        }
        & {
            position: fixed;
            width: 100%;
            z-index: 30;
            // 滿版設定
            top: 60px;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: auto;
            background: white;
        }
        li {
            border: 0;
            width: 100%;
        }
        .list-menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .logo-menu {
            padding: 20px 15px;
            width: 100%;
            @include justify-center;
            flex-wrap: wrap;
            li {
                padding: 10px;
                width: 50%;
            }
        }
    }
}

.logo-menu {
    width: 100%;
    @include justify-end();
    li {
        div i {
            font-size: 30px;
            padding: 0 0 10px 0;
        }
    }
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.parimary_btn {
    &:not(.footer-bottom) a:nth-child(1) {
        margin-right: 20px;
    }
    input:not([type="checkbox"]):not([type="radio"]),
    button {
        width: 210px;
        line-height: 2;
        height: 50px;
    }
    & button:nth-child(1) {
        border: 0;
        background-color: $more-color;
        color: white;
        &:hover {
            color: black;
        }
    }
    & button:nth-child(2) {
        border: 1px $more-color solid;
        background-color: white;
        color: $more-color;
        &:hover {
            color: black;
        }
    }
}

.buy-count {
    padding: 10px 0;
    // @include justify-center();
    @include align-center();
    button {
        width: 50px;
        height: 40px;
        font-size: 20px;
    }
    input[type="number"] {
        border: rgb(197, 197, 197) 1px solid;
        width: 210px;
        height: 40px;
        text-align: end;
        font-size: 18px;
    }
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

small {
    font-size: $small-size;
}

h1,
.h1 {
    font-size: $font-a1;
}

.logo {
    color: rgb(252, 147, 62);
    padding-right: 30px;
    font-size: $font-logo;
}

.logo-txt {
    width: 40%;
}

#app {
    margin: auto;
    padding-bottom: 30px;
}

.relative-postion {
    position: relative;
}

.search-poition {
    position: absolute;
    right: 5px;
    z-index: 100;
    top: 50%;
    transform: translate(0%, -50%);
}

.list-menu {
    @include justify-center;
    @include align-center;
    // background-color: rgb(253, 253, 235);
    li {
        width: calc(1210px / 5);
        flex-direction: column;
        border: 1px solid;
        background-color: $menu-color;
        // 一般設定img reset
        &[class*="img"] {
            div {
                @include justify-center;
                @include align-center;
                min-height: 230px;
                transition: 0.5s ease;
                i {
                    font-size: 120px;
                    color: #868686;
                }
            }
            & h4:nth-child(3) {
                color: $more-color;
            }
            &:hover {
                background-color: rgb(253, 251, 249);
            }
            &[class="img02"] {
                img {
                    max-width: 210px;
                }
            }
            &[class="img05"] {
                img {
                    padding-top: 10px;
                    max-width: 210px;
                }
            }
            &[class="img03"] {
                background-color: rgb(253, 251, 249);
            }
            &[class="img04"] {
                position: relative;
                background-color: rgba(0, 0, 0, 0);
                overflow: hidden;
                &:hover .img-hover {
                    opacity: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 50;
                }
                &:hover {
                    background-color: $more-color;
                }
                // img04 hover
                .img-hover {
                    background-color: transparent;
                    opacity: 0;
                    position: absolute;
                    bottom: -100px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    transition: 0.5s ease;
                    ul {
                        background-color: transparent;
                        @include justify-center;
                        color: white;
                        li {
                            background-color: transparent;
                            width: 80px;
                            height: 80px;
                            border-radius: 50px;
                            border: white 1px solid;
                            @include justify-center;
                            @include align-center;
                            a {
                                color: white;
                                background-color: transparent;
                            }
                            &:hover {
                                background-color: $menu-color;
                                a {
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
        img.imgfixed {
            max-width: 152px;
        }
        & {
            transition: 0.8s ease-in;
        }
        &:hover {
            background-color: #f9f6f1;
        }
    }
}

.content {
    @include justify-center;
    .aside-content {
        width: 22%;
        h1 {
            font-size: 25px;
        }
        .aside-title {
            @include align-end;
            @include column;
            padding-bottom: 10px;
        }
        .aside-md-selected {
            li {
                padding: 10px 0;
            }
        }
        .aside-menu-selected {
            background-color: antiquewhite !important;
            color: rgb(255, 143, 51) !important;
        }
        #aside-menu-change {
            width: 100%;
            padding: 10px;
            text-align: left;
            background-color: antiquewhite;
        }
        .aside-menu {
            li {
                text-align: start;
                padding: 10px;
                background-color: #fcfbf9;
                display: block;
                color: black;
                cursor: pointer;
                h2 {
                    border-bottom: 1px solid #ececec;
                }
                ul {
                    display: none;
                    &[id*="product"],
                    &[id*="product"] li {
                        background-color: $more-color !important;
                        color: white !important;
                    }
                }
                .display-block {
                    display: block;
                }
            }
        }
    }
    .right-content {
        width: calc(78% - 30px);
        margin-left: 30px;
        .product-menu {
            @include justify-start();
            flex-wrap: wrap;
            li {
                width: 23%;
                padding: 1%;
            }
            li div:nth-child(1) {
                overflow: hidden;
                position: relative;
                i {
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    padding: 20px;
                    transform: translate(-50%, -50%);
                    font-size: 30px;
                    z-index: 30;
                    color: white;
                    background-color: rgb(234, 185, 247);
                    border-radius: 50%;
                    transition: 0.8s ease;
                }
                &:hover i {
                    opacity: 1;
                }
                img {
                    object-position: center;
                    object-fit: cover;
                    height: 200px;
                    width: 200px;
                }
                &::after {
                    content: "";
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 30px;
                    z-index: 10;
                    color: white;
                    background-color: rgba(255, 251, 251, 0);
                    border-radius: 50%;
                    transition: 0.8s ease;
                }
                &:hover::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    z-index: 10;
                    background-color: rgba(14, 14, 14, 0.479);
                    border-radius: 10px;
                    transition: 0.5s ease-in-out;
                }
            }
        }
        li div:nth-child(2) {
            @include justify-around();
            align-items: center;
            flex-direction: column;
            button {
                width: 100%;
                padding: 5px;
                background-color: $more-color;
                color: white;
                border: #cfaa80 solid 1px;
            }
        }
    }
}

main {
    margin-top: 80px;
    @include align-center;
    @include column;
    margin-bottom: 100px;
}

.xs-show {
    display: none;
}

.product-step {
    @include align-center;
    @include justify-center;
    li {
        cursor: pointer;
        width: 40px;
        height: 40px;
        font-size: $font-size-4;
        @include align-center;
        @include justify-center;
        border: 1px solid;
        &:hover {
            background-color: #2d3561;
            color: white;
        }
    }
}

.title {
    @include align-center;
    @include justify-center;
    height: 80px;
}

footer {
    position: relative;
    margin-top: 80px;
    @include justify-center();
    .footer-focus {
        @include justify-center();
        .footer-logo {
            width: 150px;
            height: auto;
        }
        div {
            @include justify-center();
            flex-direction: column;
            padding: 0 20px;
        }
    }
    .footer-nav {
        position: relative;
        line-height: 2;
        word-spacing: 2px;
        background-color: $footer-color;
        margin: 30px 0;
        height: 200px;
        font-size: 20px;
        @include justify-center();
        @include align-center();
        flex-direction: column;
        .footer-content {
            width: 750px;
            & li:nth-child(1) {
                border-left: 1px solid;
            }
        }
        &>ul {
            @include justify-center();
            li {
                width: 25%;
                border-right: 1px solid;
                cursor: pointer;
            }
            i {
                font-size: 35px;
            }
        }
        small {
            padding: 0 20px;
        }
        .footer-fixed-right {
            font-size: 50px;
            position: absolute;
            top: 50%;
            right: calc(25% / 2);
            transform: translate(50%, -50%);
        }
    }
    .footer-xs-menu {
        position: relative;
        display: block;
    }
}


/*

main 主頁面
*/

.main {
    margin-top: 80px;
    h2,
    i {
        font-size: 20px;
    }
    .main-guide {
        @include justify-end();
        padding: 0 20px;
        a {
            border: 5px grey solid;
            @include justify-between();
            @include align-center();
            margin: 20px 0px;
            padding: 10px;
            width: 130px;
            background-color: transparent;
        }
    }
}

// about
.about {
    main {
        .mList {
            .banner {
                width: 100%;
            }
        }
    }
}

.fixed-bottom {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 500;
    i {
        color: red;
        font-size: 60px;
    }
    .fas-number {
        position: absolute;
        top: 0;
        right: 0;
        color: red;
    }
}

// login

/*
login register 登入頁面
*/

.login,
.register {
    .address {
        select {
            padding: 5px;
            height: 50px;
            width: 100px;
            margin-bottom: 10px;
        }
    }
    .info-sex {
        display: flex;
        li {
            height: 60px;
            @include align-center;
            margin: 5px 15px 5px 0;
        }
    }
    h4,
    label {
        font-size: 20px;
    }
    .regist er_menu_items,
    .login_menu_items {
        &>* {
            cursor: pointer;
        }
    }
    line-height: 3;
    text-align: start;
    @include justify-center();
    @include align-center();
    flex-direction: column;
    input:not([type="checkbox"]):not([type="radio"]),
    button {
        line-height: 2;
        width: 100%;
        height: 50px;
    }
    input[type="submit"] {
        margin-top: 20px;
        border: 0;
        background-color: $more-color;
        color: white;
    }
    &>* {
        width: 998px;
    }
    ul.login_menu_items,
    ul.register_menu_items {
        border-bottom: 2px $more-color solid;
        @include align-start();
        @include justify-start();
        li {
            cursor: pointer;
            width: 220px;
        }
    }
    &.menu_content {
        @include justify-center();
        flex-direction: row;
        width: 998px;
        section {
            width: 50%;
            &.menu_pict {
                position: relative;
                .logo_ani_img {
                    position: absolute;
                    top: 5px;
                    right: 50px;
                    font-size: 100px;
                    color: #917171;
                    animation: menu_pict-run 2s ease-out alternate-reverse infinite;
                }
                @keyframes menu_pict-run {
                    from {
                        // top: -20px;
                        transform-origin: bottom;
                        transform: rotate(-10deg);
                    }
                    to {
                        // top: 30px;
                        transform-origin: bottom;
                        transform: rotate(10deg);
                    }
                }
            }
        }
    }
    form {
        padding: 25px 70px;
        ul>li * {
            margin: 0px;
        }
    }
}

//**
// buy 頁面
//**
.buy {
    padding-top: 20px;
    padding-bottom: 100px;
    line-height: 1.5;
    @include justify-center();
    .container {
        width: $pc-width;
        .buyContent {
            @include justify-start();
            &>* {
                width: 50%;
                img {
                    width: 100%;
                }
            }
            .buyContent-txt {
                .countArea {
                    width: 100%;
                }
                h1,
                small {
                    padding: 5px 0;
                }
                padding-left: 50px;
                @include align-start();
                flex-direction: column;
            }
        }
        .buyInfo {
            padding-top: 20px;
            h1 {
                margin: 15px 0;
                border-top: 3px solid $more-color;
                border-bottom: 3px solid $more-color;
            }
            ul {
                text-align: start;
            }
        }
    }
}

// 獨立上方
.pay-step ul {
    @include justify-center();
    li {
        padding: 30px;
        @include justify-center();
        @include align-center();
        &>* {
            padding: 10px;
        }
        .icon {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            @include justify-center();
            @include align-center();
            background-color: rgb(221, 221, 221);
            i {
                font-size: 35px;
            }
            // &:hover
        }
        .pay-step-selected {
            background-color: $more-color;
        }
    }
}


/*
pay的共通頁面
*/

.pay01 .pc-btn-fixed,
.pay02 .pc-btn-fixed {
    @include justify-center();
}


/*
// pay01  
*/

.pay01 {
    padding-bottom: 50px;
    h2 {
        font-size: 25px;
        letter-spacing: 5px;
    }
    @include justify-center();
    .container {
        width: $pc-width;
        line-height: 1.5;
        // .pay-step ul {
        //     @include justify-center();
        //     li {
        //         padding: 30px;
        //         @include justify-center();
        //         @include align-center();
        //         &>* {
        //             padding: 10px;
        //         }
        //         .icon {
        //             width: 80px;
        //             height: 80px;
        //             border-radius: 50%;
        //             @include justify-center();
        //             @include align-center();
        //             background-color: rgb(221, 221, 221);
        //             i {
        //                 font-size: 35px;
        //             }
        //             &:hover {
        //                 background-color: $more-color;
        //             }
        //         }
        //     }
        // }
        .pay01-buylist {
            line-height: 1.5;
            padding: 20px 0 70px 0;
            h2 {
                margin-bottom: 35px;
            }
            .pay01-list-table {
                width: 100%;
                & tr:nth-child(1) {
                    background-color: $menu-color;
                    height: 50px;
                }
                tr {
                    margin: 5px 50px 5px 50px;
                }
                th,
                td {
                    vertical-align: middle;
                    font-weight: bold;
                    &:nth-child(1) {
                        text-align: start;
                        img {
                            margin: 15px 0 15px 0;
                            height: 120px;
                        }
                    }
                }
                & tr th:nth-child(1),
                & tr td:nth-child(1) {
                    width: 20%;
                }
                & tr th:nth-child(1),
                & tr td:nth-child(1) {
                    text-align: start;
                    padding-left: 50px;
                }
                & tr th:last-child,
                & tr td:last-child {
                    text-align: end;
                    padding-right: 50px;
                }
                &>* {
                    margin: 10px;
                }
            }
        }
        .flex {
            @include justify-between();
            h3 {
                font-size: 20px;
            }
            &>* {
                width: 48%;
            }
        }
        h3.title {
            background-color: $menu-color;
            height: 50px;
        }
        .pay01-way {
            line-height: 2.5;
            text-align: start;
            .discount>* {
                &:nth-child(1) {
                    background-color: blue;
                    margin-right: 20px;
                    input {
                        width: calc(70% - 20px);
                        line-height: 2;
                        height: 50px;
                    }
                }
                &:nth-child(2) {
                    margin-left: 10px;
                    button {
                        width: calc(30% - 10px);
                        line-height: 2;
                        height: 50px;
                    }
                }
                button {
                    border: 0;
                    background-color: $more-color;
                    color: white;
                }
            }
            &>ul {
                padding: 0 50px 0 50px;
                flex-direction: column;
                .pay01-way-items {
                    @include justify-between();
                }
            }
            .pay01-way-items {
                flex-direction: row;
                @include justify-between();
            }
            .pay01-info-list {
                li {
                    @include justify-between();
                }
            }
        }
        .pay01-info {
            line-height: 2.5;
            text-align: start;
            flex-direction: column;
            .pay01-info-list {
                padding: 0 50px 0 50px;
                li {
                    flex-direction: row;
                    @include justify-between();
                }
            }
        }
    }
}


/*
// pay02  
*/

.pay02 {
    padding-bottom: 20px;
    line-height: 1.5;
    span {
        cursor: pointer;
    }
    .address,
    .address2,
    .address-time {
        &>* {
            margin-right: 10px;
        }
    }
    .address2,
    .address {
        & select {
            height: 40px;
        }
        & select:nth-child(1) {
            width: 80px;
        }
        & select:nth-child(2) {
            width: 100px;
        }
        & select:nth-child(3) {
            width: 80px;
        }
    }
    .address-time {
        & select {
            height: 40px;
            width: 150px;
        }
    }
    h2 {
        font-size: 25px;
    }
    h4 {
        text-align: center;
        background-color: $more-color;
        color: white;
        padding: 20px;
    }
    @include justify-center();
    .container {
        input:not([type="checkbox"]):not([type="radio"]) {
            border: 1px solid $more-color;
            line-height: 2;
            width: 210px;
            height: 40px;
        }
        text-align: start;
        width: $pc-width;
        line-height: 1.5;
        .pay02-Precautions {
            padding-bottom: 10px;
            text-align: start;
            padding-left: 10px;
            h2 {
                font-size: 20px;
                border-bottom: 1px solid grey;
            }
        }
        .pay02-buylist {
            line-height: 1.5;
            padding: 20px 0 70px 0;
            .pay02-buylist-info {
                height: 550px;
                border: 1px solid $more-color;
            }
            .pay02-buylist-info>h2 {
                font-size: 25px;
                margin-bottom: 10px;
                background-color: $menu-color;
            }
            div {
                line-height: 1.5;
                padding: 0 30px 0 30px;
            }
            ul {
                &>li {
                    margin: 10px 0;
                }
                .info-name,
                .info-sex,
                .info-sex2 {
                    @include justify-start();
                    align-items: center;
                    &>* {
                        margin: 0 5px 0 0px;
                    }
                }
            }
            .phone {
                & span {
                    margin: 0 5px 0 5px;
                }
            }
        }
        .flex {
            @include justify-between();
            h3 {
                font-size: 20px;
            }
            &>* {
                width: 48%;
            }
        }
        h3.title {
            background-color: $menu-color;
            height: 50px;
        }
        .pay02-way {
            line-height: 2.5;
            text-align: start;
            .discount>* {
                &:nth-child(1) {
                    margin-right: 20px;
                }
                &:nth-child(2) {
                    margin-left: 20px;
                }
                input:not([type="checkbox"]):not([type="radio"]),
                button {
                    width: calc(50% - 20px);
                    line-height: 2;
                    height: 50px;
                }
                button {
                    border: 0;
                    background-color: $more-color;
                    color: white;
                }
            }
            &>ul {
                padding: 0 50px 0 50px;
                flex-direction: column;
                .pay02-way-items {
                    @include justify-between();
                }
            }
            .pay02-way-items {
                flex-direction: row;
                @include justify-between();
            }
            .pay02-info-list {
                li {
                    @include justify-between();
                }
            }
        }
        .pay02-info {
            margin-bottom: 20px;
            border: $more-color 1px solid;
            width: 100%;
            line-height: 2.5;
            flex-direction: column;
            .pay02-info-list {
                padding: 0 50px 0 50px;
                li {
                    flex-direction: row;
                    @include justify-between();
                }
            }
        }
    }
}


/*
// order01
*/

.order01 {
    table {
        margin: 30px 0;
        width: 100%;
        tr {
            border-bottom: 1px solid grey;
        }
    }
}

.question {
    i {
        color: white;
    }
    .container {
        &:not(h1):not(h2):not(h3) {
            font-weight: bold;
        }
        .dropdown {
            display: none;
        }
        .question-menu {
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            li {
                padding: 0 10px;
                text-align: start;
            }
            li h4 {
                margin: 5px;
                background-color: $more-color;
                color: white;
                padding: 10px;
                @include justify-between();
            }
            justify-content: start;
            &-dropdown {
                display: block !important;
            }
        }
    }
}

// message
.message {
    .container {
        margin: 30px 0;
        padding: 30px;
        border: 1px solid grey;
    }
}

// alert
.alert {
    position: fixed;
    right: 10px;
    width: 300px;
    display: flex;
    height: 80px;
    margin: auto;
    background-color: #ffdc94;
    color: #8f8f8f;
    bottom: 6px;
    font-size: 20px;
    font-weight: bold;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}